<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactiveDatasource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C2CA27D1F0CE96300CFFD92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2CA2911F0CE96300CFFD92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2CA29C1F0CE96300CFFD92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
